*{
	margin: 0;
	padding: 0;
    color: white;
    text-align: center;
}
header{
	background: url('../images/bg.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
}

.overlay{
	background: rgba(0,0,0,0.6);
    height: 100%;
}

h1{
	text-decoration: underline;
	font-weight: bold;
	font-size: 5rem;
	font-style: italic;
	color: yellow;
	line-height: 2;
	text-align: center;
	padding-top: 6rem;
	
}
.overlay p{
	font-size: 1.5rem;
}
h3{
	text-align: center;
	font-size: x-large;
     text-decoration:underline ;
	
}

h2{
	text-align: left;
	line-height: 10;
}
h4{
	text-align: left;
	margin: 5rem;
	text-decoration: underline;
	text-decoration: yellow;
}
a{
	color: black;
    background: yellow;
    padding: 1rem;
    border-radius: 3px;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.about{
	padding: 2rem 2rem;
    background: #0e1113;
    color: white;
    line-height: 1.6;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    font-size: 1.1rem;
    /* height: 100vh; */
    letter-spacing: 2px;
}

.about img{
	height: 200;
	border-radius: 10px;
}

a{
	transition: all 1s;
}
 gd{}

a:hover{
transform: scale(1.1)
}

nav{
	color:red;
	background-color: black;
	width: 100vw;
	display: block;
	border-bottom: 2px solid yellow;
	position: fixed;
}
li{
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 1rem;
	font-size: 1.3rem;
}
li:hover{
	cursor: pointer;
}

